body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Prompt', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-dark {
  border-radius: 0px;
  width: 110px;
  background-color: black;
  height: 40px;
}

.btn-warning {
  background-color: #fc8019;
  border-radius: 0px;
  color: white;
  font-weight: bold;
  height: 50px;
}

.btn-info {
  border-radius: 0px;
}

.span-dark {
  color: #686b78;
  font-weight: bold;
}

.span-light {
  font-weight: bold;
  color: #9d9ea8;
}

.span-dark:hover {
  cursor: pointer;
}

.span-light:hover {
  cursor: pointer;
}

.popular {
  color: #9d9ea8;
}

.order-food {
  color: #686b78;
}

.main-heading {
  color: #282c3f;
}

.features {
  background-color: #2b1e16;
  color: white;
}

.feature-heading {
  font-size: 20px;
}

.feature-para {
  font-size: 14px;
}

.swiggy-heading {
  font-size: 46px;
  font-weight: bolder;
  color: #282c3f;
}

.swiggy-para {
  color: #7e808c;
  font-size: 18px;
}

.footer {
  background-color: #000000;
  color: white;
}

hr {
  color: white;
}

li {
  list-style-type: none;
  line-height: 200%;
}

.footer-para {
  color: #808080;
}

.shawarma {
  width: 100px;
}
